@font-face {
    font-family: 'PixelOperator';
    src: url('fonts/PixelOperator8.ttf') format('truetype');
}

body {
    background: black;
}
#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid white;
}
#playerImage, #cannonImage, #barrelImage, #backgroundImage, #enemyImage {
    display: none;
}