@font-face {
    font-family: 'Pixel';
    src: url('fonts/PixelOperator8-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Pixel-B';
    src: url('fonts/PixelOperatorMono-Bold.ttf') format('truetype');
}

:root {
    font-family: 'Pixel';
    margin: 16px;
    --power: 0px;
    --error-right: 0px;
    --color: #54c6ca;
}

.game-window {
    position: relative;
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.window-title {
    color: black;
    margin: 0;
    font-size: x-small;
    line-height: 12px;
}

.buttons {
    font-family: 'Pixel-B';
    border: 2px solid;
    background-color: white;
    color: black;
    padding: 4px 12px;
    margin: 8px;
}

.buttons:active {
    background-color: var(--color);
}

.window--power {
    top: 32px;
    left: 12px;
}

#power-bar {
    height: 20px;
    width: 300px;
    border: 2px solid black;
    background-color: white;
    margin: 8px;
}

#power {
    height: 20px;
    width: var(--power);
    background-color: var(--color);
}

.window--reset {
    top: 32px;
    right: 12px;
}

.window--shop {
    top: 96px;
    left: 12px;    
}

.window--popup {
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: 10;
    visibility: hidden;
    width: 500px;
    height: 300px;
}

.shop-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#shop-item-1 {
    margin: 0;
    margin-right: auto;
    max-height: 88px;
    object-fit: contain;
}

#description {
    color: azure;
    text-align: center;
    margin: 8px;
    margin-right: auto;
}

.window--score {
    visibility: hidden;
    top: 178px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

#score {
    color: var(--color);
    text-align: center;
    margin: 8px;
}